.picture-list {
    display: flex;
    gap: 30px;
}

.picture-list__box {
    position: relative;
}

.picture-list__label {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 70px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
    background: rgba(47, 48, 58, 0.8);
}