.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
    // @media screen and (min-width: 320px) and (max-width: 1199) {
    //     justify-content: center;
    //     // align-items: baseline;
    //     flex-wrap: wrap;
    //     // gap: 60px;
    //     row-gap: 60px;
    // }

    // @include tablet {
    //     display: flex;
    //     flex-direction: column;
    //     // align-items: baseline;

    // }
    @include desktop {
        display: flex;
    }
}

.footer__container {
    // display: flex;
    // @media screen and (min-width: 320px) and (max-width: 1199) {
    //     justify-content: center;
    //     // align-items: baseline;
    //     flex-wrap: wrap;
    //     // gap: 60px;
    //     // row-gap: 60px;
    // }

    // @include tablet {
    //     display: flex;
    //     align-items: baseline;

    // }

    @include desktop {
        display: flex;
        align-items: baseline;

    }
}

.contacts {
    // @media screen and (max-width: 1199) {
    //     display: flex;
    //     flex-basis: 50%;
    //     justify-content: center;
    //     flex-wrap: wrap;
    // }

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @include tablet {
        // display: flex;
        flex-basis: 50%;
    }
    
    @include desktop {
        flex-grow: 1;
        margin-right: 70px;
    }
}

.footer__logo {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.footer__address {
    margin-top: 20px;
    font-style: normal;
}

// .contacts {
//     flex-grow: 1;
//     margin-right: 70px;
// }

.address__item {
    margin-bottom: 9px;
    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.address__link {
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color: var(--accent-color);
    }
}

.address__mail-link {
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
         color: var(--accent-color);
    }
}

.address__tel-link {
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
         color: var(--accent-color);
    }
}

.footer__social {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        // display: flex;
        flex-basis: 50%;
    }

    @include desktop {
        margin-right: 93px;
    }
}

.social__pre-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}