.header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--first-color);
}

.header__page {
    display: flex;
    align-items: center;
}

.header__connect {
    display: flex;
    margin-left: auto;
}

.connect__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.connect__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
         color: var(--accent-color);
    }
}

.connect__icon {
    margin-right: 10px;
    fill: currentColor;
}