.card-list {
    display: flex;
    gap: 30px;
}

.card-list__item {
    background: var(--first-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-list__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-list__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.card-list__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}