.logo {
    padding: 0;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo__web {
    color: var(--accent-color);
}

.logo__studio--color-dark {
    color: #000000;
}

.logo__studio--color-light {
    color: var(--first-color);
}