.header__navigation {
    margin-left: 93px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

.navigation__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.navigation__list-link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
         color: var(--accent-color);
    }
}

.navigation__list-link--current {
    position: relative;
    color: var(--accent-color);
 }

.navigation__list-link.navigation__list-link--current {
    color: var(--accent-color);
    &::after {
        position: absolute;
        content:"";
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

