.section {
    padding: 94px 0;
}

.section--no-padding-top {
    padding-top: 0;
}

.section--background-color {
    background-color: var(--second-color);
}

.section__title {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}