:root {
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --first-text-color: #212121;
    --second-text-color: #757575;
    --first-color: #FFFFFF;
    --second-color: #F5F4FA;
    --third-color: #AFB1B8;
    --background-color: #2F303A;
    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
}